:root {
  --context-menu-padding: 6px 12px;
}

/* evenly sized header buttons */
._2Szzh5sKyGgnLUR870zbDE {
  padding: 0;
}
._13vrqU6oOqmmxrsZSW5O39,
._3arz-hc3FJ0QKXLPRUSaah {
  min-width: 24px;
}

/* hide big picture toggle */
._3yD46y5pd3zOGR7CzKs0mC {
  margin-right: 0 !important;
}
._3LKQ3S_yqrebeNLF6aeiog {
  display: none !important;
}

/* always hide address bar */
.UkR3sY319PuaUNuUWks2K,
._2CmrnGY-Amtd83ScJkFvx2 {
  display: none !important;
}

/* reduce context menu padding */
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI,
._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
  padding: var(--context-menu-padding);
}
