._3OzkVrQFFPv0aV41N4MrHV._1kICdMcVupzY5a9PzI2JIU {
  bottom: 7px;
}
._2Kmn7fJOkLT4KyWl467a9M .cvw8DHMUBKuZs5DeLJOQ2 .k02sevxj1a1YpBto7_V57 {
  display: none;
}
._2Kmn7fJOkLT4KyWl467a9M .cvw8DHMUBKuZs5DeLJOQ2 {
  gap: 12px;
  padding: 4px 12px;
}
