:root {
  --c-background: #2c323a;
  --c-context-bg: #2b2b2b;
  --c-context-border: #808080;
  /* --c-sidebar: #171718; */
}

/* ._2AUVZlzQq67qe3yhLZsPPB,
._17uEBe5Ri8TMsnfELvs8-N {
  background: var(--c-background) !important;
} */

/* ._3x1HklzyDs4TEjACrRO2tB {
  background: var(--c-sidebar) !important;
} */

._2sNr7PFYcJZWNkEMCDVVPR,
._3Sb2o_mQ30IDRh0C72QUUu {
  background: var(--c-background);
}

.ContextMenuPopupBody .PP7LM0Ow1K5qkR8WElLpt {
  background: var(--c-context-bg);
}

.ContextMenuPopupBody
  .WUOrULWKkGLl3ZUQdDXg8
  + ._1n7Wloe5jZ6fSuvV18NNWI {
  border-color: var(--c-context-border);
}
