:root {
  --c-background: #2c323a;
  --c-context-fg: #dcdedf;
  --c-context-bg: #2c2c2c;
  --c-context-inner-border: #404040;
  --c-context-outer-border: #4b4b4b;
  /* --c-sidebar: #171718; */
}

/* ._2AUVZlzQq67qe3yhLZsPPB,
._17uEBe5Ri8TMsnfELvs8-N {
  background: var(--c-background) !important;
} */

/* ._3x1HklzyDs4TEjACrRO2tB {
  background: var(--c-sidebar) !important;
} */

._2sNr7PFYcJZWNkEMCDVVPR,
._3Sb2o_mQ30IDRh0C72QUUu {
  background: var(--c-background);
}

/* .ContextMenuPopupBody {
  background: var(--c-context-outer-border) !important;
} */

.ContextMenuPopupBody .PP7LM0Ow1K5qkR8WElLpt {
  background: var(--c-context-bg);
  border: 1px solid var(--c-context-outer-border);
  /* border-radius: 5px; */
}

.ContextMenuPopupBody ._1n7Wloe5jZ6fSuvV18NNWI {
  border-radius: 4px;
}
.ContextMenuPopupBody ._1n7Wloe5jZ6fSuvV18NNWI:hover,
.ContextMenuPopupBody ._1n7Wloe5jZ6fSuvV18NNWI:hover ._54dy2uxVcadf_1e6Poifs {
  background: var(--c-context-outer-border);
  color: var(--c-context-fg);
}

.ContextMenuPopupBody
  .WUOrULWKkGLl3ZUQdDXg8
  + ._1n7Wloe5jZ6fSuvV18NNWI {
  border-color: var(--c-context-inner-border);
}
