:root {
  --context-menu-padding: 6px 12px;
}

/* evenly sized header buttons */
.titlebarcontrols_Button {
  padding: 0;
}
.titlebarcontrols_ParentalToggleButton,
.titlebarcontrols_KioskModeToggleButton {
  min-width: 24px;
}

/* hide big picture toggle */
.titlebarcontrols_AccountMenu {
  margin-right: 0 !important;
}
.titlebarcontrols_GamepadUIToggle {
  display: none !important;
}

/* always hide address bar */
.steamdesktop_URLBar_,
.steamdesktop_URLBarReplacement_ {
  display: none !important;
}

/* reduce context menu padding */
.DesktopUI .contextmenu_contextMenuItem,
.contextmenu_ForceDesktop .contextmenu_contextMenuItem {
  padding: var(--context-menu-padding);
}

/* compact top menu */
$top-menu-height: 38px;

.steamdesktop_TitleBar {
  height: $top-menu-height;
  justify-content: flex-end;

  .steamdesktop_RootMenuBar {
    margin-top: 0;
    padding: 0 0.5rem;

    .rootmenu_Logo {
      display: none;
    }
  }
  .steamdesktop_DragArea_ {
    display: none;
  }
  .steamdesktop_WindowControls {
    flex: 0 0 116px;
  }
  .titlebarcontrols_TitleBarControls {
    margin-top: 2px;
  }
}

.DesktopUI .title-bar-actions {
  max-height: $top-menu-height;
}

.DesktopUI .title-area-icon {
  height: $top-menu-height;
  width: $top-menu-height;
}

.steamdesktop_SuperNavBar {
  position: absolute;
  top: 4px;
}
