:root {
  --context-menu-padding: 6px 12px;
}

/* evenly sized header buttons */
.titlebarcontrols_Button {
  padding: 0;
}
.titlebarcontrols_ParentalToggleButton,
.titlebarcontrols_KioskModeToggleButton {
  min-width: 24px;
}

/* hide big picture toggle */
.titlebarcontrols_AccountMenu {
  margin-right: 0 !important;
}
.titlebarcontrols_GamepadUIToggle {
  display: none !important;
}

/* always hide address bar */
.steamdesktop_URLBar_,
.steamdesktop_URLBarReplacement_ {
  display: none !important;
}

/* reduce context menu padding */
.DesktopUI .contextmenu_contextMenuItem,
.contextmenu_ForceDesktop .contextmenu_contextMenuItem {
  padding: var(--context-menu-padding);
}
