:root {
  --banner-border-radius: 2px;
  --cover-border-radius: 4px;
  --cover-height: calc(var(--cover-width) * 9 / 6);
  --cover-width: 154px; /* 140, 154 */
  --cover-width-landscape: calc(var(--cover-width) * 2 + var(--grid-gap));
  --game-header-height: 256px;
  --grid-gap: 18px;
  --library-section-gap: 8px;
  --library-sidebar-width: 320px;
  --uninstalled-overlay-opacity: 0.85;
}

/* hide favorites collection */
.libraryhomeshowcases_ShowcaseGrid_[style*='grid-auto-rows: 148px;']
  > .allcollections_Collection_:first-of-type {
  display: none !important;
}

/* hide soundtracks collection */
.libraryhomeshowcases_ShowcaseGrid_[style*='grid-auto-rows: 148px;']
  > .allcollections_Collection_:last-of-type {
  display: none !important;
}

/* hide address bar */
.steamdesktop_URLBar_,
.steamdesktop_URLBarReplacement_ {
  display: none !important;
}

/* hide news, sidebar and bottom bar until hovered */
.bottombar_BottomBarContainer,
.library_LeftListSizableContainer,
.libraryhome_UpdatesContainer {
  position: absolute;
  transition-delay: 333ms;
  transition-duration: 150ms;
  z-index: 100;
}

.bottombar_BottomBarContainer {
  --height: 50px;
  bottom: 0;
  height: var(--height);
  padding-top: 24px;
  width: 100%;
}
.bottombar_BottomBarContainer:not(:hover) {
  margin-bottom: calc(var(--height) * -1);
}

.library_LeftListSizableContainer {
  height: 100%;
  max-width: none;
  min-width: 0;
  padding-right: 16px;
  width: var(--library-sidebar-width);
}
.library_LeftListSizableContainer:not(:hover) {
  margin-left: calc(var(--library-sidebar-width) * -1);
}

.libraryhome_UpdatesContainer {
  border-bottom: 16px solid #2c323a;
  height: 316px !important;
  width: 100%;
}
.libraryhome_UpdatesContainer:hover {
  border-bottom-width: 0;
}
.libraryhome_UpdatesContainer:not(:hover) {
  margin-top: -300px;
}

.libraryhome_LibraryHome {
  padding: 8px 8px 32px 10px;
}
/* */

/* custom cover sizes */
/* custom cover sizes: grid */
.libraryhomeshowcases_ShowcaseGrid {
  gap: var(--grid-gap) !important;
  grid-template-columns: repeat(auto-fill, var(--cover-width)) !important;
  justify-content: center !important;
  padding: 8px 0 !important;
}
.libraryhomeshowcases_ShowcaseGrid[style*='grid-auto-rows: 222px;'] {
  grid-auto-rows: var(--cover-height) !important;
}
.libraryhomeshowcases_ShowcaseGrid[style*='grid-auto-rows: 148px;'] {
  grid-auto-rows: var(--cover-width) !important;
}
.cssgrid_Container {
  height: auto !important;
}
.appportrait_LibraryItemBox {
  border-width: 0 !important;
}
.allcollections_Collection_ .allcollections_CollectionLabel_ {
  width: calc(100% - 20px);
}

/* custom cover sizes: recent games */
.libraryhomeshowcases_Showcase_ .libraryhomeshowcases_ChildrenContainer_ {
  margin: 0 5px !important;
}
.libraryhomerecentgames_RecentGame_:not(:last-child) {
  margin-right: var(--grid-gap);
}
.libraryhomerecentgames_RecentGameMediaContainer_[style*='width: 311.984px'] {
  width: var(--cover-width-landscape) !important;
  height: var(--cover-height) !important;
}
.libraryhomerecentgames_RecentGameMediaContainer_[style*='width: 148px;'] {
  width: var(--cover-width) !important;
  height: var(--cover-height) !important;
}
.libraryhomerecentgames_RecentGameMediaContainer_
  .libraryassetimage_Container_.libraryassetimage_LandscapeImage {
  padding-top: calc(var(--cover-height) - 76px);
}
/* */

/* hide game card badges until hovered */
.appportrait_LibraryItemBox {
  transition-duration: 150ms !important;
  transition-timing-function: cubic-bezier(0, 0.7, 0.8, 1) !important;
  overflow: visible;
}
.appportrait_LibraryItemBoxShine {
  display: none !important;
}
.appportrait_Draggable .appportrait_LibraryItemBoxSubscript {
  transition: 500ms;
  pointer-events: none;
}
.appportrait_Draggable:not(:hover) .appportrait_LibraryItemBoxSubscript {
  opacity: 0;
}
/* */

/*  move "add shelf" button to the bottom */
.libraryhome_LibraryHome > div {
  display: flex;
  flex-direction: column;
}

.libraryhome_LibraryHome > div > .libraryhomeshowcases_Sortable {
  order: 0;
}
.libraryhome_LibraryHome > div > *:not(.libraryhomeshowcases_Sortable) {
  order: 1;
}
/* */

/* resize header */
.sharedappdetailsheader_TopCapsule_,
.sharedappdetailsheader_HeaderBackgroundImage {
  max-height: calc(var(--game-header-height) - 64px) !important;
}
.sharedappdetailsheader_ImgContainer_,
.sharedappdetailsheader_ImgSrc_ {
  height: var(--game-header-height);
}
/* */

/* disable cover hover */
.appportrait_HoversEnabled_ .LibraryItemBox,
.appportrait_HoversEnabled_ .LibraryItemBoxSubscript,
.appportrait_HoversEnabled_ .LibraryItemBox .libraryassetimage_Image_,
.appportrait_HoversEnabled_ .LibraryItemBox .appportrait_FooterBlurImage_,
.appportrait_Draggable_:hover .appportrait_AppPortraitBannerContainer_ {
  transform: none !important;
}

/* custom library section spacing */
.libraryhomeshowcases_ShowcaseOuter {
  padding-bottom: var(--library-section-gap);
}

/* cover border radius */
.libraryassetimage_PortraitImage {
  border-radius: var(--cover-border-radius);
  overflow: hidden;
}

/* fade uninstalled games */
.appportrait_LibraryBottomItems_ {
  padding: 0;
}

.appportrait_Draggable
  .appportrait_UninstalledBar.appportrait_UninstalledBarBottom:not(
    .appportrait_BarDownloading
  ) {
  background: #24282f;
  display: block;
  height: 100%;
  opacity: var(--uninstalled-overlay-opacity);
  pointer-events: none;
  position: absolute;
  top: 0;
}
.appportrait_HoversEnabled_
  .LibraryItemBox:hover:not(
    .appportrait_Landscape_
      .appportrait_UninstalledBar.appportrait_UninstalledBarBottom
  ) {
  transform: rotateX(3deg) translateZ(15px);
}
.appportraithover_AppStatus {
  background: #363c45;
}

/* hide sidebar game icons */
.library_LeftListSizableContainer .gamelistentry_AppIcon,
.library_LeftListSizableContainer .gamelistentry_GameIcon {
  display: none;
}

/* fix recent section spacing */
.libraryhomerecentgames_RecentGames_[style*='height'] {
  margin-bottom: -22px;
}

/* fix uninstalled games */
.appportrait_UninstalledBarBottom {
  margin-top: 0 !important;
}

/* remove game hover blur */
.appportraithover_CapsuleBackgroundContainer {
  display: none;
}

.appportraithover_ScreenshotCrossfade {
  -webkit-mask-image: none;
  background-color: transparent;
  mask-image: none;
}
/* */

/* remove game header blur */
.sharedappdetailsheader_ImgSrc_ {
  max-width: none;
  -webkit-mask-image: none;
}

/* round game banners */
.appportrait_AppPortraitBanner_ {
  border-radius: var(--banner-border-radius);
}

/* hide item owners */
._3zxPLsbnU5LuorR0_EPCEC {
  display: none;
}
