/* reduce overlay toolbar spacing */
.steamdesktopoverlay_ToolbarContainer_.steamdesktopoverlay_LocationBottom_ {
  bottom: 7px;
}

/* hide achievement date in sidebar */
.achievementslist_AchievementListItemBase_
  .achievementslist_Container_
  .achievementslist_Right_ {
  display: none;
}

/* tweaks to achievements for better responsiveness */
.achievementslist_AchievementListItemBase_ .achievementslist_Container_ {
  gap: 12px;
  padding: 4px 12px;
}

/* overview achievements as rows */
.steamdesktopoverlay_GameOverview
  .steamdesktopoverlay_GameOverviewSection
  .steamdesktopoverlay_AchievementsList {
  flex-direction: column;
  gap: 0;
}

.steamdesktopoverlay_GameOverview
  .steamdesktopoverlay_GameOverviewSection
  .steamdesktopoverlay_AchievementsList
  .steamdesktopoverlay_RecentAchievement {
  width: 100%;
  box-sizing: border-box;
  height: 88px;
}

.steamdesktopoverlay_GameOverview
  .steamdesktopoverlay_GameOverviewSection
  .steamdesktopoverlay_AchievementsList
  .steamdesktopoverlay_RecentAchievement
  + .steamdesktopoverlay_RecentAchievement {
  margin-top: 0;
}

/* hide toolbar unless hovered */
/*[class*="steamdesktopoverlay_ToolbarContainer_"].steamdesktopoverlay_LocationBottom_ {
  bottom: 8px;
  margin-bottom: -72px;
  padding-top: 8px;
  transition: 150ms;
}
[class*="steamdesktopoverlay_ToolbarContainer_"].steamdesktopoverlay_LocationBottom_:hover {
  margin-bottom: 0;
}

[class*="steamdesktopoverlay_Toolbar_"] {
  background: #000E;
  border-radius: 8px;
  padding: 4px;
}*/
/* */
