:root {
  --c-background: #2c323a;
  --c-context-fg: #dcdedf;
  --c-context-bg: #2c2c2c;
  --c-context-inner-border: #404040;
  --c-context-outer-border: #4b4b4b;
  /* --c-sidebar: #171718; */
}

/* .libraryhome_InnerContainer,
.libraryhome_UpdatesContainer {
  background: var(--c-background) !important;
} */

/* .gamelistbar_Container {
  background: var(--c-sidebar) !important;
} */

.collectionview_OuterContainer,
.libraryhome_LibraryHome {
  background: var(--c-background);
}

/* .ContextMenuPopupBody {
  background: var(--c-context-outer-border) !important;
} */

.ContextMenuPopupBody .contextmenu_contextMenu {
  background: var(--c-context-bg);
  border: 1px solid var(--c-context-outer-border);
  /* border-radius: 5px; */
}

.ContextMenuPopupBody .contextmenu_contextMenuItem {
  border-radius: 4px;
}
.ContextMenuPopupBody .contextmenu_contextMenuItem:hover,
.ContextMenuPopupBody .contextmenu_contextMenuItem:hover .jumplist_Running {
  background: var(--c-context-outer-border);
  color: var(--c-context-fg);
}

.ContextMenuPopupBody
  .contextmenu_ContextMenuSeparator
  + .contextmenu_contextMenuItem {
  border-color: var(--c-context-inner-border);
}
