:root {
  --c-background: #202326;
  --c-sidebar: #171718;
}

.libraryhome_InnerContainer,
.libraryhome_UpdatesContainer {
  background: var(--c-background) !important;
}

.gamelistbar_Container {
  background: var(--c-sidebar) !important;
}
