:root {
  --cover-border-radius: 4px;
  --cover-width: 140px;
  --cover-height: calc(var(--cover-width) * 9 / 6);
  --grid-gap: 18px;
  --context-menu-padding: 6px 12px;
}

/* hide favorites collection */
[class*='libraryhomeshowcases_ShowcaseGrid_'][style*='grid-auto-rows: 148px;'] > [class*='allcollections_Collection_']:first-of-type {
  display: none !important;
}

/* hide soundtracks collection */
[class*='libraryhomeshowcases_ShowcaseGrid_'][style*='grid-auto-rows: 148px;'] > [class*='allcollections_Collection_']:last-of-type {
  display: none !important;
}

/* always hide address bar */
[class*='steamdesktop_URLBar_'],
[class*='steamdesktop_URLBarReplacement_'] {
  display: none !important;
}

/* reduce context menu padding */
.DesktopUI [class*='contextmenu_contextMenuItem'],
[class*='contextmenu_ForceDesktop'] [class*='contextmenu_contextMenuItem'] {
  padding: var(--context-menu-padding);
}

/* hide news and sidebar until hovered */
[class*='library_LeftListSizableContainer'],
[class*='libraryhome_UpdatesContainer'] {
  position: absolute;
  transition-delay: 333ms;
  transition-duration: 150ms;
  z-index: 100;
}
[class*='library_LeftListSizableContainer'] {
  height: 100%;
  padding-right: 16px;
}
[class*='library_LeftListSizableContainer']:not(:hover) {
  margin-left: -19%;
}

[class*='libraryhome_UpdatesContainer'] {
  border-bottom: 16px solid #2c323a;
  height: 316px !important;
  width: 100%;
}
[class*='libraryhome_UpdatesContainer']:hover {
  border-bottom-width: 0;
}
[class*='libraryhome_UpdatesContainer']:not(:hover) {
  margin-top: -300px;
}

[class*='libraryhome_LibraryHome'] {
  padding: 8px 4px 32px 10px;
}
/* */

/* custom cover sizes */
[class*="libraryhomeshowcases_ShowcaseGrid"] {
  gap: var(--grid-gap) !important;
  grid-template-columns: repeat(auto-fill, var(--cover-width)) !important;
  justify-content: center !important;
  padding: 8px 0 !important;
}
[class*="libraryhomeshowcases_ShowcaseGrid"][style*='grid-auto-rows: 222px;'] {
  grid-auto-rows: var(--cover-height) !important;
}
[class*="libraryhomeshowcases_ShowcaseGrid"][style*='grid-auto-rows: 148px;'] {
  grid-auto-rows: var(--cover-width) !important;
}
[class*="cssgrid_Container"] {
  height: auto !important;
}
[class*="libraryhomeshowcases_ShowcaseOuter"] {
  padding-bottom: 24px;
}
[class*='appportrait_LibraryItemBox'] {
  border-width: 0 !important;
}
[class*='allcollections_Collection_'] [class*='allcollections_CollectionLabel_'] {
  width: calc(100% - 20px);
}
/* */

/* hide game card badges until hovered */
[class*='appportrait_LibraryItemBox'] {
  transition-duration: 150ms !important;
  transition-timing-function: cubic-bezier(0, 0.7, 0.8, 1) !important;
}
[class*='appportrait_LibraryItemBoxShine'] {
  display: none !important;
}
[class*='appportrait_Draggable'] [class*='appportrait_LibraryItemBoxSubscript'] {
  transition: 500ms;
  pointer-events: none;
}
[class*='appportrait_Draggable']:not(:hover) [class*='appportrait_LibraryItemBoxSubscript'] {
  opacity: 0;
}
/* */

/*  move "add shelf" button to the bottom */
[class*='libraryhome_LibraryHome'] > div {
  display: flex;
  flex-direction: column;
}

[class*='libraryhome_LibraryHome']
  > div
  > [class*='libraryhomeshowcases_Sortable'] {
  order: 0;
}
[class*='libraryhome_LibraryHome']
  > div
  > *:not([class*='libraryhomeshowcases_Sortable']) {
  order: 1;
}
/* */

/* disable cover hover */
[class*='HoversEnabled'] [class*='LibraryItemBox'],
[class*='HoversEnabled'] [class*='LibraryItemBox'] [class*='libraryassetimage_Image_'],
[class*='HoversEnabled'] [class*='LibraryItemBox'] [class*='appportrait_FooterBlurImage_'] {
  transform: none !important;
}

/* cover border radius */
[class*='appportrait_LibraryItemBox'] {
  border-radius: var(--cover-border-radius);
}

/* fade uninstalled games */
[class*='appportrait_Draggable'] [class*='appportrait_UninstalledBar'][class*='appportrait_UninstalledBarBottom']:not([class*='appportrait_BarDownloading']) {
  background: #24282fCC;
  border-radius: calc(var(--cover-border-radius) - 0.5px);
  bottom: 0;
  height: 100%;
  pointer-events: none;
  z-index: 12;
}
[class*='HoversEnabled'] [class*='LibraryItemBox']:hover:not([class*='appportrait_Landscape_'] [class*='appportrait_UninstalledBar'][class*='appportrait_UninstalledBarBottom']) {
  transform: rotateX(3deg) translateZ(15px);
}

/* hide sidebar game icons */
[class*='library_LeftListSizableContainer'] [class*='gamelistentry_AppIcon'],
[class*='library_LeftListSizableContainer'] [class*='gamelistentry_GameIcon'] {
  display: none;
}

/* fix uninstalled games */
[class*="appportrait_UninstalledBarBottom"] {
  margin-top: 0 !important;
}